@mixin container(){
    @include padding-horizontal(to-vw(64));
    @media screen and (max-width: 600px) {
        @include padding-vertical(to-vw-mobile(20))
    }
}

@mixin padding-horizontal($value){
    padding-left: $value;
    padding-right: $value;
}
@mixin set-font($weight, $size, $min, $max){
    font-size: clamp($min, to-vw($size), $max);
    font-weight: $weight;

}
@mixin padding-vertical($value){
    padding-top: $value;
    padding-bottom: $value;
}


@mixin flex-center{
    display: flex;
    align-items: center;
    
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin setColor($back, $color){
    background-color: $back;
    color: $color;
}

@mixin option-desk($property, $pixels){
    @include NOT-MOB{
        #{$property}: to-vw($pixels);
    }
    
}

@mixin option-mob($property, $pixels){
    @include MOBILE{
        #{$property}: to-vw-mobile($pixels);
    }
 
}

@mixin option($property, $pixels, $pixelsM){
    @include option-desk($property, $pixels);
    @include option-mob($property, $pixelsM);
}
