$most-dark: #000000;
$most-light: #FFFFFF;
$dark-blue: #222FDC;
$dark-grey: #5B605C;
$dark-medium-grey: #C3C3C3;
$light-blue: #F4FAFF;
$medium-grey: #B0B1C1;
$light-grey: #F7F7F7; 
$light-green: #5AD18D;
$dark-green: #3C711E;
$orange: #E36D2F;

$desktop-width: 1440;
$mobile-width: 375; 
$desktop-height: 100;
$mobile-height: 667; 

$desktop: 1024px; 
$phone: $desktop - 1px;



$main-font-family: 'Inter', 'Arial', sans-serif;
$header-font-family: 'Oswald', 'Arial Narrow', sans-serif;
