
.button{
    @include option(border-radius, 30, 20);
    color: white;
    @include option(font-size, 22, 18);
    @include flex-center;
    min-height: 2em;
    gap: 0.5em;
    
    img{
        @include option(width, 48, 19)
    }
    &--blue{
        background-color: $dark-blue;
        color: $most-light;
        @include option(padding-right, 32, 15);
        @include option(padding-left, 32, 15);
        font-family: $main-font-family;
        @include option(border-radius, 30, 20);
        @include option(font-size, 28, 18);
        &:hover{
            background-color:hsl(from $dark-blue -16%)
        }
    };
    &--black{
        background-color: $most-dark;
        color: $most-light;
        @include option (height, 64, 64);
        @include option-mob (border-radius, 30);
            @include padding-horizontal(1.5em);

    };
    &--black-feedback{
        background-color: $most-dark;
        color: $most-light;
        @include option(font-size, 28, 18);
        padding: 1.1em;
        width: fit-content;
            @include padding-horizontal(1.5em);

    }
}
