.cases{
    @include option(padding, 64, 20);
    @include option(border-radius, 30, 20);

    background-color: $cases-back;
    &__content{
        display: flex;
        flex-direction: column;
        picture{
            width: 100%;
        }
        @include NOT-MOB{
            flex-direction: row;
            picture{
                width: 65%;
            }
        }
        background-color: $cases-med;
        @include option(border-radius, 30, 20);
        @include option(padding, 16, 16);

    };
    &__tags{
        display: flex;
        flex-wrap: wrap;
        @include option(gap, 12, 12);
    };
    &__screen{
        
    }


}