
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    font-family: $main-font-family;
}
body{
    margin: 0;
    margin-top: 10px;
};
a{
    color: inherit;
    text-decoration: none;
}
h1, p{
    margin: 0;
}
button{
    border: none;
}

.button{
    @include option(border-radius, 30, 20);
    color: white;
    @include padding-horizontal(1.5em);
    @include option(font-size, 22, 20);
    @include flex-center;
    min-height: 2em;
    gap: 0.5em;
    img{
        @include option(width, 48, 19)
    }
    &--blue{
        background-color: $dark-blue;
        color: $most-light;
        padding: 1.1em;
        font-family: $main-font-family;
        @include option(border-radius, 30, 20);
        @include option(font-size, 28, 18);
    };
    &--black{
        background-color: $most-dark;
        color: $most-light;
    }
}

.tag{
    @include option (border-radius,12, 9);
    @include padding-horizontal(1em);
    @include padding-vertical(1em);
    @include option(font-size, 16, 14);

    &--features{
        @include setColor($light-grey, $dark-blue)
    };
    &--card{
        @include setColor($most-light, $dark-blue);
        width: fit-content;
        align-self: flex-start;
    };
    &--dialog{
        position: absolute;
        z-index: 10;
        &::after{
            content: '';
            position: absolute;
            border: 6px solid transparent;
        }
        &--bottom{
            top: calc(100%);
            @include setColor($most-light, $dark-blue);
        }
        &--top{
            bottom: calc(100%);
            @include setColor($most-light, $orange);
            &::after{
                content: '';
                transform: translateX(-50%);
                bottom: 100%;
                left: 50%;
            }
        }
    }
}

.form{
    input{
        padding: 1em;
        font-family: $main-font-family;
        @include option(border-radius, 30, 20);
        @include option(font-size, 28, 18);
        border-style: solid;
    };
    &--start{
        display: flex;
        input{
            border-color: $dark-blue;
            &:focus{
                border-color: $dark-blue;
            }
        }
        button{
            height: 100%;
            margin-left: -2em;
        }
    }

}




