
// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
}

*, *::after, *::before{
    box-sizing: border-box;
    font-family: $main-font-family;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    margin-top: 10px;
};
a{
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, p{
    margin: 0;
}
button{
    border: none;
}

.form{
    input, textarea {
        padding: 1em;
        font-family: $main-font-family;
        @include option (border-width, 2, 2);
        @include option(border-radius, 30, 20);
        @include option(font-size, 28, 18);
        border-style: solid;
    };
    &--start{
        display: flex;
        position: relative;
        input {
            @include option(padding-right, 240, 170);
            width: 100%;
            border-color: $dark-blue;
        }
        button{
            @include padding-horizontal(40px);
            position: absolute;
            right: 0;
            top:0;
            bottom: 0;
        }
    }

}




