
.main{
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include option(margin-bottom, 150, 90);
    @include container;
    @include padding-vertical(to-vw(8));
    @include NOT-MOB{
       flex-direction: row;
    }

    &__info{
        color: $dark-blue;
        @include flex-column;
        @include NOT-MOB{
            width: 50%;
        };
        @include option(gap, 64, 24);
        width: 100%;
    };
    &__textblock{
        @include flex-column;
        @include option(gap, 24, 24);
    };
    &__header{
        @include option(font-size, 90, 44);
        @include option(line-height, 80, 50);
        font-weight: 500;
        font-family: $header-font-family;
        letter-spacing: -2;
    }
    &__description{
        @include option(font-size, 22, 16);
        @include option(line-height, 36, 20);
        letter-spacing: -0.2;
    }
    
    &__form{
        @include flex-column;
        @include option(gap, 24, 24);
    };
    
    &__features{
        display: flex;
         @include option(gap, 12, 12);
        flex-wrap: wrap;
    };
    &__card{
        align-items:center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include NOT-MOB{
            width: 50%;
        };
        width: 100%;
        background-color: $dark-blue;
        @include option (border-radius, 30, 20);
        @include option (padding, 17, 11);
        // background-color:rgba(250, 235, 215, 0)
        
    };
    &__avatars{
        
        display: flex;
        position: relative; 
        @include option(margin-left, 20, 10);
        @include MOBILE{
            @include option-mob(margin-top, 75);
            @include option-mob(margin-bottom, 75);
        }       
    }
    &__avatar{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        @include option(width, 100, 70);
        @include option(border-width, 10, 5);
        border-style: solid;
        border-color: $dark-blue;
        @include option(margin-left, -20, -10);
        &--plus{
            background-color: $most-light;
            display: flex;
            align-items:center;
            justify-content: center;
            img{
                aspect-ratio: 1/1;
                @include option(width, 30, 21)
            }
        }
    }
    &__avatar-img{
        @include option(width, 100, 70)
    }
    &__pen-img{
        @include option(width, 583, 303);
        @include option(margin-bottom, -150, -90);

    }
    

}