.tag{
    @include padding-horizontal(1em);
    @include padding-vertical(0.9em);
    @include option(font-size, 16, 14);
    @include option (border-radius,11, 9);

    &--features{
        @include setColor($light-grey, $dark-blue)
    };
    &--card{
        @include setColor($most-light, $dark-blue);
        width: fit-content;
        align-self: flex-start;
        font-weight: 500;
        @include option(line-height, 48, 29);
        @include padding-vertical(0);
    };
    &--dialog{
        @include option (border-radius,20, 9);
        position: absolute;
        z-index: 10;
        @include option(font-size, 22, 16);
        font-weight: 500;
        &::after{
            content: '';
            position: absolute;   
        }
        
        &--bottom{
            top: calc(120%);
            @include setColor($most-light, $dark-blue);
            
            &::after{
                @include option(width, 32, 20);
                @include option(height, 32, 20);
                @include option(top, -35, -35);
                right: 50%;
                background-image: url('/images/cursor.png');
                background-size: contain;
                background-position: center;
            }
        }
        &--top{
            bottom: calc(140%);
            right: calc(10%);
            white-space: nowrap;
            @include setColor($most-light, $orange);
            &::after{
                border: 6px solid transparent;
                background-color: $most-light;
                @include option(bottom, -6, -6);
                @include option(width, 16, 16);
                @include option(height, 16, 16);
                @include option(border-radius, 5, 5);
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                
            }
        }
    };
    &--case{
        @include setColor($most-light, $cases-text);
        width: fit-content;
        font-weight: 500;
        transition: all 0.3s ease;
        &:hover{
            @include setColor($cases-focused, $most-dark);
        }
    };
    &--disabled{
        @include setColor($cases-disabled, $cases-disabled-text);
        width: fit-content;
        font-weight: 500
    };
    &--focused{
        @include setColor($cases-focused, $most-dark);
        width: fit-content;
        font-weight: 500
    }
}
